body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  background-color: cadetblue;
  height: 960px;
  width: 960px;
  border: 1px solid black;
}

#btn {
  margin-bottom: 20px;
}

.grid {
  border: 1px solid black;
  /* padding: 10px; */
  box-sizing: border-box;
}

.ask-button {
  font-size: 16px;

  padding: 10px;
}
